* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    color: white;
    font-family: sans-serif;
    background-image: url('../assets/background.avif');
    background-size: cover;
}