{% extends "base_form.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard">

    <article>
        <h1>Dashboard</h1>
        <span>Gerencie seus agendamentos</span>
        <p>Olá, {{ nome_usuario }}</p>
    </article>

    <div class="input-container">
        <a href="{{ url_for('listar_agendamentos') }}"><button type="button">Listar agendamentos</button></a>
        <a href="{{ url_for('novo_agendamento') }}"><button type="button">Novo agendamento</button></a>
        <a href="{{ url_for('logout') }}"><button type="button">Sair</button></a>
    </div>

</div>

{% endblock %}  