{% extends 'base_form.html' %}

{% block title %}
Login - Delart
{% endblock %}

{% block content %}
<form method="POST">
  <article>
    <h1>Fazer login</h1>
    <span>Continue criando seus agendamentos na melhor plataforma</span>
    <p>Ainda não possui uma conta? <a href="{{url_for('cadastro')}}">Cadastre-se</a></p>
    {% if erro %}
      <p style="color: #ff6b6b; font-weight: 600;">{{ erro }}</p>
    {% endif %}
  </article>

  <div class="input-container">
    <div class="data-input">
      <label for="nome">Nome de usuário</label>
      <input type="text" name="nome" id="nome" placeholder="Nome">
    </div>

    <div class="data-input">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="Senha">
    </div>

    <button type="submit">Entrar</button>
  </div>
</form>
{% endblock %}